<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Banking System Pro</title>
</head>
<body>
    <h1>Welcome to Banking System Pro</h1>
    <ul>
        <li>
            <a th:href="@{/about}">About</a>
        </li>
        <li>
            <a href="/account">Account</a>
        </li>
        <li>
            <a href="/list">Account Listing</a>
        </li>
        <li>
            <a href="/logout">Logout</a>
        </li>
    </ul>
</body>
</html>